PORT=3001
DEV_SERVER_PORT=3000
TOKEN_SECRET=changeMe
DATABASE_URL=postgres://dev:dev@localhost/changeMe
CLIENT_ID=changeMe
CLIENT_SECRET=K-changeMe
REDDIT_USER=changeMe
REDDIT_PW=changeMe
SCRIPT_ID=changeMe
SCRIPT_SECRET=changeMe
COOKIE_SECRET=changeMe
DEMO_USER=changeMe
DEMO_ID=changeMe
DEMO_SECRET=changeMe
DEMO_REFRESH=changeMe
